.gallery__items {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1.5em;
  padding: 2em 0;
}

.gallery__item img {
  max-height: 15em;
  border-radius: 5px;
}