:root {
    --primary: #525929;
    --secondary: #626A3F;
    --black: #16150B;
    --white: #FFFAFA;
}

/* Počítače */
h1 {
    font-family: "DM Serif Display", serif;
    font-size: 7rem;
    font-weight: 100;
    color: var(--primary);
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 5rem;
    font-weight: 100;
    color: var(--primary);
}

p { 
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    color: var(--black);
}

/*
.logo =  64
.footer p | Nadpis
*/

/* Telefony */
@media only screen and (min-width: 360px) and (max-width:960px) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
        color: red; /* POUZE TEST */
    }
    
    p { 
        font-size: 1rem;
    }
}